<table>
  <thead>
    <tr>
      <th>Nom de l'attraction</th>
      <th>Description de l'attraction</th>
      <th>Difficulté de l'attraction / 5</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="attractions | async">
      <ng-container *ngFor="let formulaireAttraction of formulaireAttractions; let indexForm = index" 
        [formGroup]="formulaireAttraction">
        
        <tr>
          <td>
            <mat-form-field class="champ" appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="nom">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="champ" appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="champ" appearance="fill">
              <mat-label>Difficulté / 5</mat-label>
              <input matInput formControlName="difficulte" type="number">
            </mat-form-field>
          </td>
          <td>
            <mat-slide-toggle formControlName="visible">Element visible</mat-slide-toggle>
          </td>
          <td>
            <button mat-button (click)="onSubmit(formulaireAttraction)" class="enregistrer">Enregistrer</button>
            <button mat-button class="ajouter" (click)="addAttraction()">Ajouter</button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

