<div class="attractions-container">
  <ng-container *ngFor="let attraction of attractions | async">
    <div *ngIf="attraction.visible" class="attraction">
      <div class="attraction-title">{{ attraction.nom }}</div>
      <div class="attraction-content">
        <span>{{ attraction.description }}</span>
        <span class="difficulty">Difficulté : {{ attraction.difficulte }} / 5</span>
      </div>
      <mat-card-actions>
        <button class="modal" mat-raised-button color="primary" (click)="openModal(attraction.nom)">Ajouter un avis</button>
      </mat-card-actions>
    </div>
  </ng-container>
</div>
