.stars-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.stars {
  display: flex;
  gap: 5px;
}

mat-icon {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}

mat-icon.selected {
  color: gold;
}

.full-width {
  width: 100%;
}
